.footer{
    height: auto;
    padding: 1.5rem 2rem 1.5rem 2rem !important;
    background-color: #323232 !important;
    text-transform: uppercase;

    img{
        width: 40%;
    }
    
    .txt-menu{
        a{
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover{
            color: red;
        }
        .router-link-exact-active{
            color: red;
        }
    }
    

    .style-content{
        // padding:6px 6px 6px 1.5rem !important;

        p{
            font-size: 18px;
            color: #fff;
        }

        .style-facebook{
            margin-top: 15px;
            color: #fff;
            a{
                color: #fff;
                text-transform: uppercase;
                font-style: italic;
                font-size: 18px;
                vertical-align: middle;
            }
            a:hover{
                color: rgb(0, 8, 255);
            }
            i{
                font-size: 200%;
                // margin-right: 5%;
            }
        }
    }
}
