// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Noto Sans Thai', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// media query breakpoints
$media-breakpoint-sm: 600px;
$media-breakpoint-md: 960px;
$media-breakpoint-lg: 1280px;
$media-breakpoint-xl: 1920px;